### Assignment 2
#### Name: Serena Yang

In [1]:
import numpy as np
import pandas as pd
import operator
import math

### 1. [35 pts] Collocations and Mutual Information

In [2]:
def cooccurrence(corpus, window_size):
    #token window
    N = len(corpus)
    N_w = N - window_size + 1
    print("Using window_size =",str(window_size),", there will be", str(N_w),'overlapping windows:')
    dictionarys = {}
    count= 0
    temp = []
    termlist = []
    for i in range(len(corpus) - window_size + 1):
        if corpus[i] not in termlist:
            termlist.append(corpus[i])
        temp = corpus[i:i + window_size]
        count += 1
        dictionarys[count] = temp
        print('token window '+str(count)+' = '+ str(temp))
    
    #Frequency table
    counts = dict()
    for word in corpus:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    
    newcounts = sorted(counts.items(),key=operator.itemgetter(1),reverse=True)
    df = pd.DataFrame(newcounts)
    df.columns = [' ', 'Frequency']
#    df = df.set_index(' ')
    display(df)
        
    #Word Pair & Frequency
    pair = {}
    countpairfreq = 0
    for i in range(len(termlist)):
        for j in range(i+1, len(termlist)):
            for value in dictionarys.values():
                if (termlist[i] in value) & (termlist[j] in value):
                    countpairfreq += 1
                else:
                    continue
            if countpairfreq != 0:
                pair[termlist[i],termlist[j]] = countpairfreq
                countpairfreq = 0
            else:
                pass
            
    newpair = sorted(pair.items(),key=operator.itemgetter(1),reverse=True)
    df1 = pd.DataFrame(newpair)
    df1.columns = ['Word Pair', 'Frequency']
    display(df1)
        
    #l(x,y)
    result = {}
    result = {'x':[],
             'f(x)':[],
             'y':[],
             'f(y)':[],
             'f(x,y)':[],
             'l(x,y)':[]}
    df2 = pd.DataFrame(result)
    for key, value in pair.items():
        x = key[0]
        fx = counts[x]
        y = key[1]
        fy = counts[y]
        fxy = value
        pxy = fxy / N
        px = fx/N
        py = fy/N
        lxy = round(math.log2(pxy/(px*py)), 4)
        temp = {'x':x,
             'f(x)': str(fx),
             'y':y,
             'f(y)':str(fy),
             'f(x,y)':str(fxy),
             'l(x,y)':lxy}
        df2 = df2.append(temp, ignore_index = True)
    df2 = df2.sort_values(by=['l(x,y)'], ascending = False)
    display(df2)

In [3]:
#test
decoded_line = 'search queri process retriev process queri relev feedback queri relev process queri process queri'

In [4]:
import nltk
from nltk.tokenize import word_tokenize

words = word_tokenize(decoded_line)
print(words)

['search', 'queri', 'process', 'retriev', 'process', 'queri', 'relev', 'feedback', 'queri', 'relev', 'process', 'queri', 'process', 'queri']

In [5]:
cooccurrence(words, 3)

Using window_size = 3 , there will be 12 overlapping windows:
token window 1 = ['search', 'queri', 'process']
token window 2 = ['queri', 'process', 'retriev']
token window 3 = ['process', 'retriev', 'process']
token window 4 = ['retriev', 'process', 'queri']
token window 5 = ['process', 'queri', 'relev']
token window 6 = ['queri', 'relev', 'feedback']
token window 7 = ['relev', 'feedback', 'queri']
token window 8 = ['feedback', 'queri', 'relev']
token window 9 = ['queri', 'relev', 'process']
token window 10 = ['relev', 'process', 'queri']
token window 11 = ['process', 'queri', 'process']
token window 12 = ['queri', 'process', 'queri']

             Frequency
0     queri          5
1   process          4
2     relev          2
3    search          1
4   retriev          1
5  feedback          1

            Word Pair  Frequency
0    (queri, process)          8
1      (queri, relev)          6
2   (queri, feedback)          3
3  (process, retriev)          3
4    (process, relev)          3
5   (relev, feedback)          3
6    (queri, retriev)          2
7     (search, queri)          1
8   (search, process)          1

         x f(x)         y f(y) f(x,y)  l(x,y)
8    relev    2  feedback    1      3  4.3923
6  process    4   retriev    1      3  3.3923
4    queri    5     relev    2      6  3.0704
5    queri    5  feedback    1      3  3.0704
2    queri    5   process    4      8  2.4854
3    queri    5   retriev    1      2  2.4854
7  process    4     relev    2      3  2.3923
1   search    1   process    4      1  1.8074
0   search    1     queri    5      1  1.4854

In [6]:
#take a set of documents as input
import urllib

url = 'http://facweb.cs.depaul.edu/mobasher/classes/csc575/Assignments/hw2-test-corpus.txt'
file = urllib.request.urlopen(url)
for line in file:
    decoded_line = line.decode("utf-8")
print(decoded_line)

index queri system inform retriev file system document collect search engin document collect inform retriev system index web search engin queri index process retriev system document collect index inform retriev queri process relev feedback relev feedback search queri web search engin queri process document retriev queri process queri eval relev feedback retriev document search engin index cluster document retriev web search engin cluster document index inform retriev queri process search engin relev feedback relev feedback inform retriev eval

In [7]:
import nltk
from nltk.tokenize import word_tokenize

words = word_tokenize(decoded_line)
print(words)

['index', 'queri', 'system', 'inform', 'retriev', 'file', 'system', 'document', 'collect', 'search', 'engin', 'document', 'collect', 'inform', 'retriev', 'system', 'index', 'web', 'search', 'engin', 'queri', 'index', 'process', 'retriev', 'system', 'document', 'collect', 'index', 'inform', 'retriev', 'queri', 'process', 'relev', 'feedback', 'relev', 'feedback', 'search', 'queri', 'web', 'search', 'engin', 'queri', 'process', 'document', 'retriev', 'queri', 'process', 'queri', 'eval', 'relev', 'feedback', 'retriev', 'document', 'search', 'engin', 'index', 'cluster', 'document', 'retriev', 'web', 'search', 'engin', 'cluster', 'document', 'index', 'inform', 'retriev', 'queri', 'process', 'search', 'engin', 'relev', 'feedback', 'relev', 'feedback', 'inform', 'retriev', 'eval']

In [8]:
cooccurrence(words, 2)

Using window_size = 2 , there will be 77 overlapping windows:
token window 1 = ['index', 'queri']
token window 2 = ['queri', 'system']
token window 3 = ['system', 'inform']
token window 4 = ['inform', 'retriev']
token window 5 = ['retriev', 'file']
token window 6 = ['file', 'system']
token window 7 = ['system', 'document']
token window 8 = ['document', 'collect']
token window 9 = ['collect', 'search']
token window 10 = ['search', 'engin']
token window 11 = ['engin', 'document']
token window 12 = ['document', 'collect']
token window 13 = ['collect', 'inform']
token window 14 = ['inform', 'retriev']
token window 15 = ['retriev', 'system']
token window 16 = ['system', 'index']
token window 17 = ['index', 'web']
token window 18 = ['web', 'search']
token window 19 = ['search', 'engin']
token window 20 = ['engin', 'queri']
token window 21 = ['queri', 'index']
token window 22 = ['index', 'process']
token window 23 = ['process', 'retriev']
token window 24 = ['retriev', 'system']
token window 25 = ['system', 'document']
token window 26 = ['document', 'collect']
token window 27 = ['collect', 'index']
token window 28 = ['index', 'inform']
token window 29 = ['inform', 'retriev']
token window 30 = ['retriev', 'queri']
token window 31 = ['queri', 'process']
token window 32 = ['process', 'relev']
token window 33 = ['relev', 'feedback']
token window 34 = ['feedback', 'relev']
token window 35 = ['relev', 'feedback']
token window 36 = ['feedback', 'search']
token window 37 = ['search', 'queri']
token window 38 = ['queri', 'web']
token window 39 = ['web', 'search']
token window 40 = ['search', 'engin']
token window 41 = ['engin', 'queri']
token window 42 = ['queri', 'process']
token window 43 = ['process', 'document']
token window 44 = ['document', 'retriev']
token window 45 = ['retriev', 'queri']
token window 46 = ['queri', 'process']
token window 47 = ['process', 'queri']
token window 48 = ['queri', 'eval']
token window 49 = ['eval', 'relev']
token window 50 = ['relev', 'feedback']
token window 51 = ['feedback', 'retriev']
token window 52 = ['retriev', 'document']
token window 53 = ['document', 'search']
token window 54 = ['search', 'engin']
token window 55 = ['engin', 'index']
token window 56 = ['index', 'cluster']
token window 57 = ['cluster', 'document']
token window 58 = ['document', 'retriev']
token window 59 = ['retriev', 'web']
token window 60 = ['web', 'search']
token window 61 = ['search', 'engin']
token window 62 = ['engin', 'cluster']
token window 63 = ['cluster', 'document']
token window 64 = ['document', 'index']
token window 65 = ['index', 'inform']
token window 66 = ['inform', 'retriev']
token window 67 = ['retriev', 'queri']
token window 68 = ['queri', 'process']
token window 69 = ['process', 'search']
token window 70 = ['search', 'engin']
token window 71 = ['engin', 'relev']
token window 72 = ['relev', 'feedback']
token window 73 = ['feedback', 'relev']
token window 74 = ['relev', 'feedback']
token window 75 = ['feedback', 'inform']
token window 76 = ['inform', 'retriev']
token window 77 = ['retriev', 'eval']

              Frequency
0    retriev          9
1      queri          8
2   document          7
3     search          7
4      index          6
5      engin          6
6     inform          5
7    process          5
8      relev          5
9   feedback          5
10    system          4
11   collect          3
12       web          3
13      eval          2
14   cluster          2
15      file          1

              Word Pair  Frequency
0     (relev, feedback)          7
1       (search, engin)          6
2      (queri, process)          5
3     (inform, retriev)          5
4      (queri, retriev)          3
5   (retriev, document)          3
6   (document, collect)          3
7         (search, web)          3
8        (index, queri)          2
9       (index, inform)          2
10       (queri, engin)          2
11    (system, retriev)          2
12   (system, document)          2
13  (document, cluster)          2
14      (index, system)          1
15    (index, document)          1
16     (index, collect)          1
17       (index, engin)          1
18         (index, web)          1
19     (index, process)          1
20     (index, cluster)          1
21      (queri, system)          1
22      (queri, search)          1
23         (queri, web)          1
24        (queri, eval)          1
25     (system, inform)          1
26       (system, file)          1
27    (inform, collect)          1
28   (inform, feedback)          1
29      (retriev, file)          1
30       (retriev, web)          1
31   (retriev, process)          1
32  (retriev, feedback)          1
33      (retriev, eval)          1
34   (document, search)          1
35    (document, engin)          1
36  (document, process)          1
37    (collect, search)          1
38    (search, process)          1
39   (search, feedback)          1
40       (engin, relev)          1
41     (engin, cluster)          1
42     (process, relev)          1
43        (relev, eval)          1

           x f(x)         y f(y) f(x,y)  l(x,y)
42     relev    5  feedback    5      7  4.4489
18    system    4      file    1      1  4.2854
33  document    7   cluster    2      2  3.4780
35    search    7     engin    6      6  3.4780
29  document    7   collect    3      3  3.4780
36    search    7       web    3      3  3.4780
14     queri    8   process    5      5  3.2854
20    inform    5   retriev    9      5  3.1155
23   retriev    9      file    1      1  3.1155
43     relev    5      eval    2      1  2.9635
8      index    6   cluster    2      1  2.7004
40     engin    6   cluster    2      1  2.7004
19    system    4  document    7      2  2.4780
2      index    6    inform    5      2  2.3785
21    inform    5   collect    3      1  2.3785
15     queri    8      eval    2      1  2.2854
6      index    6       web    3      1  2.1155
28   retriev    9      eval    2      1  2.1155
17    system    4   retriev    9      2  2.1155
4      index    6   collect    3      1  2.1155
16    system    4    inform    5      1  1.9635
34   collect    3    search    7      1  1.8931
24   retriev    9  document    7      3  1.8931
0      index    6     queri    8      2  1.7004
1      index    6    system    4      1  1.7004
13     queri    8       web    3      1  1.7004
12     queri    8     engin    6      2  1.7004
10     queri    8   retriev    9      3  1.7004
41   process    5     relev    5      1  1.6415
22    inform    5  feedback    5      1  1.6415
25   retriev    9       web    3      1  1.5305
7      index    6   process    5      1  1.3785
39     engin    6     relev    5      1  1.3785
9      queri    8    system    4      1  1.2854
32  document    7   process    5      1  1.1561
37    search    7   process    5      1  1.1561
38    search    7  feedback    5      1  1.1561
5      index    6     engin    6      1  1.1155
31  document    7     engin    6      1  0.8931
3      index    6  document    7      1  0.8931
27   retriev    9  feedback    5      1  0.7935
26   retriev    9   process    5      1  0.7935
30  document    7    search    7      1  0.6707
11     queri    8    search    7      1  0.4780

In [9]:
cooccurrence(words, 3)

Using window_size = 3 , there will be 76 overlapping windows:
token window 1 = ['index', 'queri', 'system']
token window 2 = ['queri', 'system', 'inform']
token window 3 = ['system', 'inform', 'retriev']
token window 4 = ['inform', 'retriev', 'file']
token window 5 = ['retriev', 'file', 'system']
token window 6 = ['file', 'system', 'document']
token window 7 = ['system', 'document', 'collect']
token window 8 = ['document', 'collect', 'search']
token window 9 = ['collect', 'search', 'engin']
token window 10 = ['search', 'engin', 'document']
token window 11 = ['engin', 'document', 'collect']
token window 12 = ['document', 'collect', 'inform']
token window 13 = ['collect', 'inform', 'retriev']
token window 14 = ['inform', 'retriev', 'system']
token window 15 = ['retriev', 'system', 'index']
token window 16 = ['system', 'index', 'web']
token window 17 = ['index', 'web', 'search']
token window 18 = ['web', 'search', 'engin']
token window 19 = ['search', 'engin', 'queri']
token window 20 = ['engin', 'queri', 'index']
token window 21 = ['queri', 'index', 'process']
token window 22 = ['index', 'process', 'retriev']
token window 23 = ['process', 'retriev', 'system']
token window 24 = ['retriev', 'system', 'document']
token window 25 = ['system', 'document', 'collect']
token window 26 = ['document', 'collect', 'index']
token window 27 = ['collect', 'index', 'inform']
token window 28 = ['index', 'inform', 'retriev']
token window 29 = ['inform', 'retriev', 'queri']
token window 30 = ['retriev', 'queri', 'process']
token window 31 = ['queri', 'process', 'relev']
token window 32 = ['process', 'relev', 'feedback']
token window 33 = ['relev', 'feedback', 'relev']
token window 34 = ['feedback', 'relev', 'feedback']
token window 35 = ['relev', 'feedback', 'search']
token window 36 = ['feedback', 'search', 'queri']
token window 37 = ['search', 'queri', 'web']
token window 38 = ['queri', 'web', 'search']
token window 39 = ['web', 'search', 'engin']
token window 40 = ['search', 'engin', 'queri']
token window 41 = ['engin', 'queri', 'process']
token window 42 = ['queri', 'process', 'document']
token window 43 = ['process', 'document', 'retriev']
token window 44 = ['document', 'retriev', 'queri']
token window 45 = ['retriev', 'queri', 'process']
token window 46 = ['queri', 'process', 'queri']
token window 47 = ['process', 'queri', 'eval']
token window 48 = ['queri', 'eval', 'relev']
token window 49 = ['eval', 'relev', 'feedback']
token window 50 = ['relev', 'feedback', 'retriev']
token window 51 = ['feedback', 'retriev', 'document']
token window 52 = ['retriev', 'document', 'search']
token window 53 = ['document', 'search', 'engin']
token window 54 = ['search', 'engin', 'index']
token window 55 = ['engin', 'index', 'cluster']
token window 56 = ['index', 'cluster', 'document']
token window 57 = ['cluster', 'document', 'retriev']
token window 58 = ['document', 'retriev', 'web']
token window 59 = ['retriev', 'web', 'search']
token window 60 = ['web', 'search', 'engin']
token window 61 = ['search', 'engin', 'cluster']
token window 62 = ['engin', 'cluster', 'document']
token window 63 = ['cluster', 'document', 'index']
token window 64 = ['document', 'index', 'inform']
token window 65 = ['index', 'inform', 'retriev']
token window 66 = ['inform', 'retriev', 'queri']
token window 67 = ['retriev', 'queri', 'process']
token window 68 = ['queri', 'process', 'search']
token window 69 = ['process', 'search', 'engin']
token window 70 = ['search', 'engin', 'relev']
token window 71 = ['engin', 'relev', 'feedback']
token window 72 = ['relev', 'feedback', 'relev']
token window 73 = ['feedback', 'relev', 'feedback']
token window 74 = ['relev', 'feedback', 'inform']
token window 75 = ['feedback', 'inform', 'retriev']
token window 76 = ['inform', 'retriev', 'eval']

              Frequency
0    retriev          9
1      queri          8
2   document          7
3     search          7
4      index          6
5      engin          6
6     inform          5
7    process          5
8      relev          5
9   feedback          5
10    system          4
11   collect          3
12       web          3
13      eval          2
14   cluster          2
15      file          1

              Word Pair  Frequency
0       (search, engin)         12
1      (queri, process)         10
2     (inform, retriev)         10
3     (relev, feedback)         10
4   (retriev, document)          7
..                  ...        ...
68    (search, cluster)          1
69    (engin, feedback)          1
70  (process, feedback)          1
71      (process, eval)          1
72     (feedback, eval)          1

[73 rows x 2 columns]

           x f(x)         y f(y) f(x,y)  l(x,y)
24    system    4      file    1      2  5.2854
70     relev    5  feedback    5     10  4.9635
57    search    7       web    3      7  4.7004
56    search    7     engin    6     12  4.4780
47  document    7   collect    3      6  4.4780
..       ...  ...       ...  ...    ...     ...
65     engin    6  feedback    5      1  1.3785
39   retriev    9    search    7      2  1.3081
52  document    7  feedback    5      1  1.1561
20     queri    8  feedback    5      1  0.9635
42   retriev    9     relev    5      1  0.7935

[73 rows x 6 columns]

### 2. [35 pts] Indexing Models and Term Weighting

In [10]:
df = pd.read_csv('/Users/serenayang/Desktop/csc575/Assignment 2/hw2-term-doc-matrix.csv', index_col=0)
df

     D1  D2  D3  D4  D5  D6  D7  D8  D9  D10
T1    0   5   3   1   0   2   2   3   0    1
T2    3   0   0   8   1   0   5   3   0    0
T3    1   0   4   0   0   2   0   0   3    5
T4    0   0   3   3   0   0   3   0   3    0
T5    5  11   7   4   0  15   9  18  22   12
T6    0  24  12   0   0   0   0   0   0   18
T7    0   7   0   4   0   0   2   1   8    0
T8    0   2   5   0   2   1   2   3   0    2
T9    0   6   0   0   0   0   0   8   0    0
T10   0   3   4   0   0   0   0   0   3    2
T11   2   4   3   0   0   0   0   9   0    4
T12  22  15  12   8   5  14  12   2   1    1
T13   3   0   0   8   1   0   0   3   0    0
T14   1   0   4   0   0   2   0   0   3    5
T15   0   0   0  15  20   0   0   0   0    0

#### a. non-normalized tfxidf weights

In [11]:
def tfidf(data, logbase):
    #the IDF values for each term as a single list
    print("the IDF values for each term as a single list")
    N = len(data.columns)
    idf = []
    for i in range(len(data)):
        nk, result = 0,0
        for j in range(len(data.columns)):
            if data.iloc[i,j] != 0:
                nk += 1
            else:
                continue
        result = math.log2(N/nk)
        idf.append(result)

    idfTable = pd.DataFrame(idf, columns = ['IDF'], index = ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11','T12','T13','T14','T15'])
    display(round(idfTable,2))
    
    #the resulting document-term matrix with the new weights as final output
    print("the resulting document-term matrix with the new weights as final output")
    weightedmatrix = data.apply(lambda x: np.asarray(x) * np.asarray(idf))
    weightedmatrix = weightedmatrix.iloc[:,0:10]
    display(round(weightedmatrix,2))

In [12]:
tfidf(df, 2)

the IDF values for each term as a single list

      IDF
T1   0.51
T2   1.00
T3   1.00
T4   1.32
T5   0.15
T6   1.74
T7   1.00
T8   0.51
T9   2.32
T10  1.32
T11  1.00
T12  0.00
T13  1.32
T14  1.00
T15  2.32

the resulting document-term matrix with the new weights as final output

       D1     D2     D3     D4     D5    D6    D7     D8    D9    D10
T1   0.00   2.57   1.54   0.51   0.00  1.03  1.03   1.54  0.00   0.51
T2   3.00   0.00   0.00   8.00   1.00  0.00  5.00   3.00  0.00   0.00
T3   1.00   0.00   4.00   0.00   0.00  2.00  0.00   0.00  3.00   5.00
T4   0.00   0.00   3.97   3.97   0.00  0.00  3.97   0.00  3.97   0.00
T5   0.76   1.67   1.06   0.61   0.00  2.28  1.37   2.74  3.34   1.82
T6   0.00  41.69  20.84   0.00   0.00  0.00  0.00   0.00  0.00  31.27
T7   0.00   7.00   0.00   4.00   0.00  0.00  2.00   1.00  8.00   0.00
T8   0.00   1.03   2.57   0.00   1.03  0.51  1.03   1.54  0.00   1.03
T9   0.00  13.93   0.00   0.00   0.00  0.00  0.00  18.58  0.00   0.00
T10  0.00   3.97   5.29   0.00   0.00  0.00  0.00   0.00  3.97   2.64
T11  2.00   4.00   3.00   0.00   0.00  0.00  0.00   9.00  0.00   4.00
T12  0.00   0.00   0.00   0.00   0.00  0.00  0.00   0.00  0.00   0.00
T13  3.97   0.00   0.00  10.58   1.32  0.00  0.00   3.97  0.00   0.00
T14  1.00   0.00   4.00   0.00   0.00  2.00  0.00   0.00  3.00   5.00
T15  0.00   0.00   0.00  34.83  46.44  0.00  0.00   0.00  0.00   0.00

#### b. signal-to-noise ratio

In [13]:
def signaltonoise(data, base):
    #get tfk for each row
    data['tfk'] = data.iloc[:,0:10].sum(axis=1)
    
    #get probk
    probk = data.iloc[:,0:10].apply(lambda x: np.asarray(x) / np.asarray(data['tfk']))
    
    #get infoT
    infoT = probk.apply(getInfoT).replace(np.nan,0)
    
    #get avginfo
    infoT['avg-info'] = infoT.iloc[:,0:10].sum(axis=1)
    avgTable = pd.DataFrame(round(infoT['avg-info'],2), columns = ['avg-info'])
    print("entropy (Avg-Info) values for each term")
    display(avgTable)
    
    #get Noise
    infoT['noise'] = infoT['avg-info'].apply(lambda x: -x)
    
    #get Signal
    infoT['tfk'] = data['tfk']
    for i in range(len(data)):
        infoT['signal'] = np.log2(infoT['tfk']) + infoT['noise']
        
    signal = infoT['signal']
    
    #get final signal table
    print("new weights using the signal-to-noise ratio approach")
    signalTable = data.iloc[:,0:10].apply(lambda x: np.asarray(x) * np.asarray(signal))
    display(round(signalTable,2))
    
def getInfoT(x):
    np.seterr(divide = 'ignore')
    result = -x * np.log2(x)
    return result

In [14]:
df = pd.read_csv('/Users/serenayang/Desktop/csc575/Assignment 2/hw2-term-doc-matrix.csv', index_col=0)

In [15]:
signaltonoise(df, 2)

entropy (Avg-Info) values for each term

     avg-info
T1       2.61
T2       2.07
T3       2.15
T4       2.00
T5       2.99
T6       1.53
T7       2.02
T8       2.65
T9       0.99
T10      1.96
T11      2.13
T12      2.90
T13      1.67
T14      2.15
T15      0.99

new weights using the signal-to-noise ratio approach

        D1      D2     D3     D4     D5     D6     D7     D8     D9    D10
T1    0.00    7.39   4.43   1.48   0.00   2.96   2.96   4.43   0.00   1.48
T2    6.77    0.00   0.00  18.05   2.26   0.00  11.28   6.77   0.00   0.00
T3    1.76    0.00   7.03   0.00   0.00   3.52   0.00   0.00   5.27   8.79
T4    0.00    0.00   4.75   4.75   0.00   0.00   4.75   0.00   4.75   0.00
T5   18.48   40.65  25.87  14.78   0.00  55.43  33.26  66.52  81.30  44.35
T6    0.00  101.39  50.69   0.00   0.00   0.00   0.00   0.00   0.00  76.04
T7    0.00   17.07   0.00   9.75   0.00   0.00   4.88   2.44  19.51   0.00
T8    0.00    2.87   7.17   0.00   2.87   1.43   2.87   4.30   0.00   2.87
T9    0.00   16.93   0.00   0.00   0.00   0.00   0.00  22.58   0.00   0.00
T10   0.00    4.88   6.50   0.00   0.00   0.00   0.00   0.00   4.88   3.25
T11   4.66    9.32   6.99   0.00   0.00   0.00   0.00  20.98   0.00   9.32
T12  79.79   54.40  43.52  29.01  18.13  50.77  43.52   7.25   3.63   3.63
T13   6.70    0.00   0.00  17.87   2.23   0.00   0.00   6.70   0.00   0.00
T14   1.76    0.00   7.03   0.00   0.00   3.52   0.00   0.00   5.27   8.79
T15   0.00    0.00   0.00  62.16  82.88   0.00   0.00   0.00   0.00   0.00

#### c. Term Discrimination

In [16]:
def TermDiscrimination(data):
    #get D*
    data['D*'] = data.mean(axis=1)
    
    dataT = data.T

    #GET Centroid, sim(Di, D*)
    count, centroid = 0, 0
    for i in range(len(dataT)-1):
        XY, X, Y = 0,0,0
        temp = 0
        for j in range(len(dataT.columns)):
            yvalue = dataT.iloc[-1, j]
            Y += yvalue ** 2
            if dataT.iloc[i, j] != 0:
                xvalue = dataT.iloc[i, j]
                XY += xvalue * yvalue
                X += xvalue ** 2
        temp = XY/(math.sqrt(X) * math.sqrt(Y))
        centroid+=temp
        count += 1
    
    avgSim = centroid/count
    print("AVG-SIM:", round(avgSim,3))
    
    #get simk when termk removed
    simlist = []
    for i in range(0, len(dataT.columns)):
        count, centroid = 0, 0
        for m in range(len(dataT)-1):
            XY, X, Y = 0,0,0
            temp = 0
            for n in range(len(dataT.columns)):
                if n != i:
                    yvalue = dataT.iloc[-1, n]
                    Y += yvalue ** 2
                    if dataT.iloc[m, n] != 0:
                        xvalue = dataT.iloc[m,n]
                        XY += xvalue * yvalue
                        X += xvalue ** 2
            temp = XY/(math.sqrt(X) * math.sqrt(Y))
            centroid+=temp
            count += 1
            
        avgSimk = centroid/count    
        simlist.append(avgSimk)
    
    #get disc table
    count = 0
    disctable = []
    for i in simlist:
        disctable.append(i-avgSim)
    
    finaldisctable = pd.DataFrame(disctable, columns = ['disck'], index = df.index)
    print("the average similarity across documents with that term omitted:")
    display(finaldisctable)
    
    print("identify the most and the list discriminating terms in the vocabulary:")
    finaldisctable = finaldisctable.sort_values(by=['disck'], ascending=False)
    display(finaldisctable)
    
    #term Discrimination table
    termDisc = data.apply(lambda x: np.asarray(x) * np.asarray(disctable))
    print("Term Weights Matrix:")
    display(termDisc)

In [17]:
df = pd.read_csv('/Users/serenayang/Desktop/csc575/Assignment 2/hw2-term-doc-matrix.csv', index_col=0)

In [18]:
TermDiscrimination(df)

AVG-SIM: 0.716
the average similarity across documents with that term omitted:

        disck
T1  -0.000183
T2   0.002950
T3   0.001040
T4   0.001025
T5  -0.070571
T6   0.040329
T7   0.001880
T8   0.000093
T9   0.004091
T10  0.001011
T11  0.002735
T12 -0.009530
T13  0.002448
T14  0.001040
T15  0.042922

identify the most and the list discriminating terms in the vocabulary:

        disck
T15  0.042922
T6   0.040329
T9   0.004091
T2   0.002950
T11  0.002735
T13  0.002448
T7   0.001880
T3   0.001040
T14  0.001040
T4   0.001025
T10  0.001011
T8   0.000093
T1  -0.000183
T12 -0.009530
T5  -0.070571

Term Weights Matrix:

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D*
T1,-0.000000,-0.000915,-0.000549,-0.000183,-0.000000,-0.000366,-0.000366,-0.000549,-0.000000,-0.000183,-0.000311
T2,0.008849,0.000000,0.000000,0.023597,0.002950,0.000000,0.014748,0.008849,0.000000,0.000000,0.005899
T3,0.001040,0.000000,0.004160,0.000000,0.000000,0.002080,0.000000,0.000000,0.003120,0.005200,0.001560
T4,0.000000,0.000000,0.003076,0.003076,0.000000,0.000000,0.003076,0.000000,0.003076,0.000000,0.001230
T5,-0.352857,-0.776286,-0.494000,-0.282286,-0.000000,-1.058572,-0.635143,-1.270286,-1.552572,-0.846857,-0.726886
T6,0.000000,0.967907,0.483953,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.725930,0.217779
T7,0.000000,0.013160,0.000000,0.007520,0.000000,0.000000,0.003760,0.001880,0.015041,0.000000,0.004136
T8,0.000000,0.000185,0.000463,0.000000,0.000185,0.000093,0.000185,0.000278,0.000000,0.000185,0.000158
T9,0.000000,0.024544,0.000000,0.000000,0.000000,0.000000,0.000000,0.032726,0.000000,0.000000,0.005727
T10,0.000000,0.003034,0.004045,0.000000,0.000000,0.000000,0.000000,0.000000,0.003034,0.002022,0.001213
T11,0.005469,0.010939,0.008204,0.000000,0.000000,0.000000,0.000000,0.024612,0.000000,0.010939,0.006016
T12,-0.209656,-0.142947,-0.114358,-0.076239,-0.047649,-0.133417,-0.114358,-0.019060,-0.009530,-0.009530,-0.087674
T13,0.007345,0.000000,0.000000,0.019586,0.002448,0.000000,0.000000,0.007345,0.000000,0.000000,0.003672
T14,0.001040,0.000000,0.004160,0.000000,0.000000,0.002080,0.000000,0.000000,0.003120,0.005200,0.001560
T15,0.000000,0.000000,0.000000,0.643831,0.858442,0.000000,0.000000,0.000000,0.000000,0.000000,0.150227

### 3. [20 pts] Vector-Space Retrieval Models

In [19]:
df = pd.read_csv('/Users/serenayang/Desktop/csc575/Assignment 2/hw2-term-doc-matrix.csv', index_col=0)
df['Q'] = [3, 1, 1, 0, 2, 0, 3, 0, 2, 0, 1, 2, 0, 0, 1]
df = df.T
df

     T1  T2  T3  T4  T5  T6  T7  T8  T9  T10  T11  T12  T13  T14  T15
D1    0   3   1   0   5   0   0   0   0    0    2   22    3    1    0
D2    5   0   0   0  11  24   7   2   6    3    4   15    0    0    0
D3    3   0   4   3   7  12   0   5   0    4    3   12    0    4    0
D4    1   8   0   3   4   0   4   0   0    0    0    8    8    0   15
D5    0   1   0   0   0   0   0   2   0    0    0    5    1    0   20
D6    2   0   2   0  15   0   0   1   0    0    0   14    0    2    0
D7    2   5   0   3   9   0   2   2   0    0    0   12    0    0    0
D8    3   3   0   0  18   0   1   3   8    0    9    2    3    0    0
D9    0   0   3   3  22   0   8   0   0    3    0    1    0    3    0
D10   1   0   5   0  12  18   0   2   0    2    4    1    0    5    0
Q     3   1   1   0   2   0   3   0   2    0    1    2    0    0    1

In [20]:
def DotProduct(data):
    Dot = []
    for i in range(len(data)-1):
        count = 0
        for j in range(len(data.columns)):
            temp = data.iloc[i,j] * data.iloc[-1,j]
            count += temp
        Dot.append(count)
        
    DotTable = pd.DataFrame(Dot, columns = ['DotProduct'], index = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10'])
    display(DotTable)

In [21]:
DotProduct(df)

     DotProduct
D1           60
D2          104
D3           54
D4           62
D5           31
D6           66
D7           59
D8           80
D9           73
D10          38

In [22]:
def CosineSimilarity(data):
    Cos = []
    for i in range(len(data)-1):
        ytemp = 0
        xytemp = 0
        xtemp = 0
        for j in range(len(data.columns)):
            Yvalue = data.iloc[-1,j]
            y = Yvalue**2
            ytemp += y
            Xvalue = data.iloc[i,j]
            if Xvalue != 0:
                xy = Yvalue*Xvalue
                x = Xvalue**2
                xytemp += xy
                xtemp += x
        temp = xytemp/math.sqrt(xtemp*ytemp)
        Cos.append(temp)
    
    CosTable = pd.DataFrame(Cos, columns = ['CosineSimilarity'], index = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10'])
    display(CosTable)

In [23]:
CosineSimilarity(df)

     CosineSimilarity
D1           0.445706
D2           0.547566
D3           0.443010
D4           0.496302
D5           0.256085
D6           0.543325
D7           0.614650
D8           0.607527
D9           0.517613
D10          0.279412

In [24]:
def DiceCoef(data):
    Dice = []
    for i in range(len(data)-1):
        ytemp = 0
        xytemp = 0
        xtemp = 0
        for j in range(len(data.columns)):
            Yvalue = data.iloc[-1,j]
            y = Yvalue**2
            ytemp += y
            Xvalue = data.iloc[i,j]
            if Xvalue != 0:
                xy = Yvalue*Xvalue
                x = Xvalue**2
                xytemp += xy
                xtemp += x
        temp = (2*xytemp)/(xtemp+ytemp)
        Dice.append(temp)
    
    DiceTable = pd.DataFrame(Dice, columns = ['DiceCoef'], index = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10'])
    display(DiceTable)

In [25]:
DiceCoef(df)

     DiceCoef
D1   0.211640
D2   0.189954
D3   0.229299
D4   0.251521
D5   0.133333
D6   0.282051
D7   0.386885
D8   0.294118
D9   0.235864
D10  0.131488

In [26]:
def JaccardCoef(data):
    Jaccard = []
    for i in range(len(data)-1):
        ytemp = 0
        xytemp = 0
        xtemp = 0
        for j in range(len(data.columns)):
            Yvalue = data.iloc[-1,j]
            y = Yvalue**2
            ytemp += y
            Xvalue = data.iloc[i,j]
            if Xvalue != 0:
                xy = Yvalue*Xvalue
                x = Xvalue**2
                xytemp += xy
                xtemp += x
        temp = xytemp/(xtemp+ytemp-xytemp)
        Jaccard.append(temp)
    
    JaccardTable = pd.DataFrame(Jaccard, columns = ['DiceCoef'], index = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10'])
    display(JaccardTable)

In [27]:
JaccardCoef(df)

     DiceCoef
D1   0.118343
D2   0.104945
D3   0.129496
D4   0.143852
D5   0.071429
D6   0.164179
D7   0.239837
D8   0.172414
D9   0.133700
D10  0.070370

### 4. [10 pts] [Non-Programming Assignment] Positional Indexes and Phrase Queries

In [ ]:
a. "fools rush in"
fools:
    2: [1,17,74,222]; 
    4: [8,78,108,458]; 
    7: [3,13,23,193];
        
rush:
    2: [2,66,194,321,702]; 
    4: [9,69,149,429,569];
    7: [4,14,404];
        
in:
    2: [3,37,76,444,851]; 
    4: [10,20,110,470,500]; 
    7: [5,15,25,195];

In [ ]:
"fools rush in" has shown in docs: 2, 4, 7.
with the orders: "fools", "rush", "in", we need to find "rush" position is next to "fools" 
and "in" position is next to "rush", therefore, it can consist to the query.
We can find "fools rush in" in doc2 starts with position [1], doc4 starts with position [8],
and doc7 starts with position [3, 13]

In [ ]:
b. "fools rush in" AND "angels fear to tread"

"fools rush in":
    2:[[1,2,3]];
    4:[[8,9,10]];
    7:[[3,4,5],[13,14,15]]    

angles:
    2: [36,174,252,651]; 
    4: [12,22,102,432]; 
    7: [17];

fear:
    2: [87,704,722,901]; 
    4: [13,43,113,433]; 
    7: [18,328,528];

to:
    2: [47,86,234,999]; 
    4: [14,24,774,944]; 
    7: [199,319,599,709];

tread:
    2: [57,94,333]; 
    4: [15,35,155]; 
    7: [20,320];

In [ ]:
Since we already found "fools rush in" in doc 2,4,7 as shown above,
"angels fear to tread", these four tokens we can also found in doc 2,4,7
follow the same method in part a; we can only see the full query in 
doc4 starts with position[12].
Therefore, “fools rush in” AND “angels fear to tread” is doc4, position [8,9,10] and [12,13,14,15]